<form role="form" class="form-horizontal">

<div class="modal-inner-content">

  <entry-field id="METype" ng-model="editor.newRec.METype" label="ME Type" span="6"></entry-field>
  <entry-field id="D1" ng-model="editor.newRec.D1" label="Deployed" span="3"></entry-field>
  <entry-field id="D2" ng-model="editor.newRec.D2" label="Bde Out" span="3"></entry-field>
  <entry-field id="D3" ng-model="editor.newRec.D3" label="Deploying" span="3"></entry-field>
  <entry-field id="D4" ng-model="editor.newRec.D4" label="Condensed Col" span="3"></entry-field>
  <entry-field id="D5" ng-model="editor.newRec.D5" label="Regular Col" span="3"></entry-field>
  <entry-field id="D6" ng-model="editor.newRec.D6" label="Extended Col" span="3"></entry-field>

</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="$hide(); editor.add();">Add Record</button>

</div>
</form>


