[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Set of tools for running a Napoleonic miniatures campaign.
[access "refs/*"]
	owner = group user/SteveOC (steveoc64)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SteveOC (steveoc64)
	label-Verified = -1..+1 group user/SteveOC (steveoc64)
	push = group user/SteveOC (steveoc64)
	read = group user/SteveOC (steveoc64)
	rebase = group user/SteveOC (steveoc64)
	removeReviewer = group user/SteveOC (steveoc64)
	submit = group user/SteveOC (steveoc64)
[access "refs/heads/*"]
	create = group user/SteveOC (steveoc64)
	push = +force group user/SteveOC (steveoc64)
	pushMerge = group user/SteveOC (steveoc64)
	read = group user/SteveOC (steveoc64)
[access "refs/tags/*"]
	push = group user/SteveOC (steveoc64)
	push = +force group user/SteveOC (steveoc64)
