<form role="form" class="form-horizontal">

<div class="modal-inner-content">

<img src="images/ArtyBB.jpg">
	<h3 class="bg-info">Firing Artillery</h3>
	<div class="form-group">
		<label for="UnitType" class="col-sm-3 control-label">Firing Weight</label>
		<div class="col-sm-9">
			<select id="UnitType" ng-model="simulator.data.ArtyWeight" ng-options="t for t in Lookups.ArtyWeights"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Bases Firing</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Bases" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Bases" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Bases" bs-radio>3</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Bases" bs-radio>4</label>
	    		<label class="btn btn-default" type="radio" value="5" ng-model="simulator.data.Bases" bs-radio>5</label>
	    		<label class="btn btn-default" type="radio" value="6" ng-model="simulator.data.Bases" bs-radio>6+</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Fire Mission</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.FireMission" bs-radio>Paced</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.FireMission" bs-radio>Intensive</label>
	    	</div>
		</label>
	</div>	
	<div class="form-group">
		<label class="col-sm-3 control-label">Primary Grid</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Grid" bs-radio>Marchfeld</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Grid" bs-radio>Rough/Rolling</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Grid" bs-radio>Mud</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Grid" bs-radio>Rocky</label>
	    	</div>
		</label>
    	<label>
    		Contour Diff
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Contours" bs-radio>0</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Contours" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Contours" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Contours" bs-radio>3+</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Secondary Grid</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.SGrid" bs-radio>Marchfeld</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.SGrid" bs-radio>Rough/Rolling</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.SGrid" bs-radio>Mud</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.SGrid" bs-radio>Rocky</label>
	    	</div>
		</label>
    	<label>
    		Contour Diff
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.SContours" bs-radio>0</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.SContours" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.SContours" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.SContours" bs-radio>3+</label>
	    	</div>
		</label>

	</div>

	<h3 class="bg-warning">Target Units</h3>	
	<div class="form-group">
		<label class="col-sm-3 control-label"></label>
		<table class="table">
			<tr>
				<th></th>
				<th>Primary 1</th>
				<th>Primary 2</th>
				<th>Primary 3</th>
				<th>Secondary 1</th>
				<th>Secondary 2</th>
			</tr>
			<tr>
				<td>Formation</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.T1" ng-options="t for t in Lookups.BBTargets"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.T2" ng-options="t for t in Lookups.BBTargets"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.T3" ng-options="t for t in Lookups.BBTargets"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.T4" ng-options="t for t in Lookups.BBTargets"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.T5" ng-options="t for t in Lookups.BBTargets"></select>
				</td>
			</tr>
			<tr>
				<td>Cover</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.C1" ng-options="t for t in Lookups.BBCovers"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.C2" ng-options="t for t in Lookups.BBCovers"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.C3" ng-options="t for t in Lookups.BBCovers"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.C4" ng-options="t for t in Lookups.BBCovers"></select>
				</td>
				<td>
					<select id="UnitType" ng-model="simulator.data.C5" ng-options="t for t in Lookups.BBCovers"></select>
				</td>
			</tr>
			<tr>
				<td>Hits</td>
				<td>
					<input size="4" type="text" disabled ng-model="simulator.data.H1"></select>
				</td>
				<td>
					<input size="4" type="text" disabled ng-model="simulator.data.H2"></select>
				</td>
				<td>
					<input size="4" type="text" disabled ng-model="simulator.data.H3"></select>
				</td>
				<td>
					<input size="4" type="text" disabled ng-model="simulator.data.H4"></select>
				</td>
				<td>
					<input size="4" type="text" disabled ng-model="simulator.data.H5"></select>
				</td>
			</tr>
		</table>
	</div>	

	<h3 class="bg-success">Results</h3>
	<display-field label="Danger %" ng-model="simulator.data.Dice" span="10"></display-field>
	<display-field label="Fire Effect" ng-model="simulator.data.Effect" span="10"></display-field>
</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-warning" ng-click="simulator.clear()">Reset</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()">Calculate Bouncethrough</button>

</div>
</form>


