<form role="form" class="form-horizontal">

<div class="modal-inner-content">

<img src="images/BridgeFire.jpg">
	<h3 class="bg-info">Firing Unit</h3>
	<div class="form-group">
		<label class="col-sm-3 control-label">Howitzer Type</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.HWType" bs-radio>Less than 18lb</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.HWType" bs-radio>18lb or better</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Number of Howitzer Sections</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.NumHW" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.NumHW" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.NumHW" bs-radio>3</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.NumHW" bs-radio>4+</label>
	    	</div>
		</label>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Fire Mission</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.FireMission" bs-radio>Tactical Fire</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.FireMission" bs-radio>Bombardment</label>
	    	</div>
		</label>
	</div>

	<h3 class="bg-warning">Target Description</h3>
	<div class="form-group">
		<label class="col-sm-3 control-label">Number of Hits on Target</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Hits" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Hits" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Hits" bs-radio>3</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Hits" bs-radio>4</label>
	    		<label class="btn btn-default" type="radio" value="5" ng-model="simulator.data.Hits" bs-radio>5</label>
	    		<label class="btn btn-default" type="radio" value="6" ng-model="simulator.data.Hits" bs-radio>6+</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Cover Rating</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Cover" bs-radio>None</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Cover" bs-radio>Light</label>
	    	</div>
		</label>
	</div>

	<h3 class="bg-success">Results</h3>
	<display-field label="Dice" ng-model="simulator.data.Dice" span="6"></display-field>
	<display-field label="Effect" ng-model="simulator.data.Effect" span="8"></display-field>
</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-warning" ng-click="simulator.clear()">Reset</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()">Does it Burn ?</button>

</div>
</form>


