<form role="form" class="form-horizontal">

<div class="modal-inner-content">

<img src="images/BUAOccupyExit.jpg">
	<h3 class="bg-info">Unit Details</h3>

	<div class="form-group">
		<label for="UnitType" class="col-sm-3 control-label">Desired Action</label>
		<div class="btn-group">
    		<label class="btn btn-default" type="radio" value="O" ng-model="simulator.data.Action" bs-radio>Occupy Structure</label>
    		<label class="btn btn-default" type="radio" value="X" ng-model="simulator.data.Action" bs-radio>Exit Structure</label>
    	</div>
	</div>

	<div class="form-group">
		<label for="UnitType" class="col-sm-3 control-label">Street Fight Rating</label>
		<div class="btn-group">
    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.SRating" bs-radio>Excellent</label>
    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.SRating" bs-radio>Good</label>
    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.SRating" bs-radio>Average</label>
    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.SRating" bs-radio>Poor</label>
    	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Carrying Hits</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Hits" bs-radio>None</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Hits" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Hits" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Hits" bs-radio>3</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Hits" bs-radio>4</label>
	    		<label class="btn btn-default" type="radio" value="5" ng-model="simulator.data.Hits" bs-radio>5</label>
	    		<label class="btn btn-default" type="radio" value="6" ng-model="simulator.data.Hits" bs-radio>6+</label>
	    	</div>
		</label>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Fatigue</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Fatigue" bs-radio>Fresh</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Fatigue" bs-radio>Winded</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Fatigue" bs-radio>Worn</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Fatigue" bs-radio>Tired</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Fatigue" bs-radio>Exhausted</label>
	    	</div>
		</label>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Special Unit Bonus</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="" ng-model="simulator.data.Special" bs-radio>N/A</label>
	    		<label class="btn btn-default" type="radio" value="RG" ng-model="simulator.data.Special" bs-radio>Russian Grenadier</label>
	    		<label class="btn btn-default" type="radio" value="AG" ng-model="simulator.data.Special" bs-radio>Austrian Grenadier</label>
	    		<label class="btn btn-default" type="radio" value="TJ" ng-model="simulator.data.Special" bs-radio>Janisarries</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Commander Actions</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="" ng-model="simulator.data.CA" bs-radio>None</label>
	    		<label class="btn btn-default" type="radio" value="CA" ng-model="simulator.data.CA" bs-radio>ME CA</label>
	    		<label class="btn btn-default" type="radio" value="LA" ng-model="simulator.data.CA" bs-radio>Leader CA</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Units Moved Through Structure</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.UnitsMoved" bs-radio>None</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.UnitsMoved" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.UnitsMoved" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.UnitsMoved" bs-radio>3+</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Weather Factors</label>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Rain" bs-checkbox>Rain / Snow</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Cold" bs-checkbox>Extreme Cold</button>
	</div>


	<h3 class="bg-success">Results</h3>

	<display-field label="Dice" ng-model="simulator.data.Dice" span="3"></display-field>
	<display-field label="Result" ng-model="simulator.data.Result" span="8"></display-field>
	<display-field label="Good Order" ng-model="simulator.data.ResultOrdered" span="2"></display-field>
</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-warning" ng-click="simulator.clear()">Reset</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()" ng-show="simulator.data.Action=='O'">Attempt To Occupy</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()" ng-show="simulator.data.Action=='X'">Attempt To Exit</button>

</div>
</form>


