<form role="form" class="form-horizontal">

<div class="modal-inner-content">

<img src="images/CommanderAction.jpg">
	<h3 class="bg-info">Commander</h3>

	<div class="form-group">
		<label class="col-sm-3 control-label">Commander Level</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="A" ng-model="simulator.data.Commander" ng-change="simulator.clear()" bs-radio>Army</label>
	    		<label class="btn btn-default" type="radio" value="B" ng-model="simulator.data.Commander" ng-change="simulator.clear()" bs-radio>Corps / ME</label>
	    		<label class="btn btn-default" type="radio" value="C" ng-model="simulator.data.Commander" ng-change="simulator.clear()" bs-radio>Brigade</label>
	    		<label class="btn btn-default" type="radio" value="D" ng-model="simulator.data.Commander" ng-change="simulator.clear()" bs-radio>Replacement</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label for="UnitType" class="col-sm-3 control-label">Rating</label>
		<div class="col-sm-9">
			<select id="Leader" ng-model="simulator.data.Leader" ng-change="simulator.clear()" ng-options="t for t in Lookups.LeaderInspiration"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Commander Attachment Status</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Attachment" bs-radio>Not Attached</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Attachment" bs-radio>Attached This Unit</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Attachment" bs-radio>Attached Other Unit</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Action Attempt Number</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Action" bs-radio>1st</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Action" bs-radio>2nd</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Action" bs-radio>3rd</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Action" bs-radio>4th</label>
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Action" bs-radio>Actions Exhausted</label>
	    	</div>
		</label>
	</div>



	<h3 class="bg-success">Results</h3>

	<display-field label="Pass Score" ng-model="simulator.data.PassScore" span="3"></display-field>
	<display-field label="Dice" ng-model="simulator.data.Dice" span="3"></display-field>
	<display-field label="Result" ng-model="simulator.data.Result" span="8"></display-field>
	<display-field label="Next Pass Score" ng-model="simulator.data.NextPassScore" span="3"></display-field>
</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-warning" ng-click="simulator.clear()">Reset</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()" ng-show="simulator.data.Action != 0">Attempt Commander Action</button>

</div>
</form>


