<form role="form" class="form-horizontal">

<div class="modal-inner-content">
	<img src="images/Deployment.jpg">

	<h3 class="bg-info">Manoeuvre Element</h3>

	<div class="form-group">
		<label for="DepRating" class="col-sm-3 control-label">Rating</label>
		<div class="col-sm-6">
			<select id="DepRating" ng-model="simulator.data.DepRating" ng-options="t for t in Lookups.DeploymentRatings"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="DepState" class="col-sm-3 control-label">Deployment State</label>
		<div class="col-sm-6">
			<select id="DepState" ng-model="simulator.data.DepState" ng-options="t for t in Lookups.DeploymentStates"></select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Grids Moved</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Grids" bs-radio>0</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Grids" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Grids" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Grids" bs-radio>3</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Grids" bs-radio>4</label>
	    		<label class="btn btn-default" type="radio" value="5" ng-model="simulator.data.Grids" bs-radio>5</label>
	    		<label class="btn btn-default" type="radio" value="6" ng-model="simulator.data.Grids" bs-radio>6+</label>
	    	</div>
		</label>
	</div>


   	<div class="form-group">
		<label class="col-sm-3 control-label">Situation</label>
		<button type="button" class="btn btn-default" ng-model="simulator.data.MarchCol" bs-checkbox>-> March Column</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Darkness" bs-checkbox>Darkness</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Choke" bs-checkbox>Chokepoint</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Mud" bs-checkbox>Mud</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Fog" bs-checkbox>Fog</button>
	</div>

    <h3 class="bg-success">Results</h3>

	<display-field id="Bonus" span="3" label="Die Mods" ng-model="simulator.data.DieMods"></display-field>
	<display-field id="Dice" span="3" label="Die Roll" ng-model="simulator.data.Dice"></display-field>
	<display-field id="Result" span="9" label="Result" ng-model="simulator.data.Result"></display-field>


</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()">Deploy</button>

</div>
</form>


