<form role="form" class="form-horizontal">

<div class="modal-inner-content">
	<img src="images/GTMovement.jpg">

	<h3 class="bg-info">Manoeuvre Element</h3>

	<div class="form-group">
		<label for="METype" class="col-sm-3 control-label">ME Type</label>
		<div class="col-sm-6">
			<select id="METype" ng-model="simulator.data.METype" ng-options="t for t in Lookups.METypes" ng-change="simulator.calc()"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="DState" class="col-sm-3 control-label">Deployment State</label>
		<div class="col-sm-6">
			<select id="DState" ng-model="simulator.data.DeploymentState" ng-options="d for d in Lookups.DeploymentStates" ng-change="simulator.calc()"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="Terrain" class="col-sm-3 control-label">Terrain Type</label>
		<div class="col-sm-6">
			<select id="Terrain" ng-model="simulator.data.Terrain" ng-options="r for r in Lookups.TerrainTypes" ng-change="simulator.calc()"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="Weather" class="col-sm-3 control-label">Weather Conditions</label>
		<div class="col-sm-6">
			<select id="Weather" ng-model="simulator.data.Weather" ng-options="w for w in Lookups.WeatherStates" ng-change="simulator.calc()"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Orders and Situation</label>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Forced" ng-change="simulator.calc()" bs-checkbox>Forced March</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.MarchOrder" ng-change="simulator.calc()" bs-checkbox>March Orders</button>
		<button type="button" class="btn btn-default" ng-model="simulator.data.Diagonal" ng-change="simulator.calc()" bs-checkbox>Diagonal</button>
	</div>

	<h3 class="bg-success">Results</h3>
	
	<display-field id="Accumulated" span="3" label="Accumulated Movement" ng-model="simulator.data.Accumulated"></display-field>
	<display-field id="Inches" span="3" label="Distance in Inches" ng-model="simulator.data.Inches"></display-field>
	<display-field id="Distance" span="3" label="Distance in Grids" ng-model="simulator.data.Distance"></display-field>

</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-warning" ng-click="simulator.clear()">Clear Accumulated</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()">GT Move</button>

</div>
</form>


