<form role="form" class="form-horizontal">

<div class="modal-inner-content">

<img src="images/MoraleRecovery.jpg">
	<h3 class="bg-info">Testing Unit</h3>

	<div class="form-group">
		<label for="UnitType" class="col-sm-3 control-label">Rating</label>
		<div class="col-sm-9">
			<select id="UnitType" ng-model="simulator.data.Rating" ng-change="simulator.clear()" ng-options="t for t in Lookups.Ratings"></select>
			Attached Leader:
			<select id="Leader" ng-model="simulator.data.Leader" ng-change="simulator.clear()" ng-options="t for t in Lookups.LeaderInspiration"></select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Parent Formation</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.METype" bs-radio>Infantry ME</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.METype" bs-radio>Mixed ME</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.METype" bs-radio>Cavalry ME</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.METype" bs-radio>Artillery ME</label>
	    	</div>
		</label>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Carrying Hits</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Hits" bs-radio>None</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Hits" bs-radio>1</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Hits" bs-radio>2</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Hits" bs-radio>3</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Hits" bs-radio>4</label>
	    		<label class="btn btn-default" type="radio" value="5" ng-model="simulator.data.Hits" bs-radio>5</label>
	    		<label class="btn btn-default" type="radio" value="6" ng-model="simulator.data.Hits" bs-radio>6+</label>
	    	</div>
		</label>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Fatigue</label>
    	<label>
			<div class="btn-group">
	    		<label class="btn btn-default" type="radio" value="0" ng-model="simulator.data.Fatigue" bs-radio>Fresh</label>
	    		<label class="btn btn-default" type="radio" value="1" ng-model="simulator.data.Fatigue" bs-radio>Winded</label>
	    		<label class="btn btn-default" type="radio" value="2" ng-model="simulator.data.Fatigue" bs-radio>Worn</label>
	    		<label class="btn btn-default" type="radio" value="3" ng-model="simulator.data.Fatigue" bs-radio>Tired</label>
	    		<label class="btn btn-default" type="radio" value="4" ng-model="simulator.data.Fatigue" bs-radio>Exhausted</label>
	    	</div>
		</label>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Other Factors</label>
		<button type="button" class="btn btn-default" ng-model="simulator.data.LostStandard" bs-checkbox>Lost Standard</button>
	</div>

	<h3 class="bg-success">Results</h3>
	<display-field label="Dice" ng-model="simulator.data.Dice" span="3"></display-field>
	<display-field label="Result" ng-model="simulator.data.Result" span="8"></display-field>
	<display-field label="Good Morale" ng-model="simulator.data.ResultSteady" span="2"></display-field>
	<display-field label="Continues Rallying" ng-model="simulator.data.ResultContinue" span="2"></display-field>
	<display-field label="Leaves Field" ng-model="simulator.data.ResultLeaves" span="2"></display-field>
</div>

<div class="modal-footer" style="margin: 15px -20px -20px;">

  <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
  <button type="button" class="btn btn-warning" ng-click="simulator.clear()">Reset</button>
  <button type="button" class="btn btn-primary" ng-click="simulator.calc()">Recover Morale</button>

</div>
</form>


